@font-face {
    font-family: NewsreaderBold;
    src: url(fonts/Newsreader-Bold.ttf);
}

@font-face {
    font-family: NewsreaderMedium;
    src: url(fonts/Newsreader_24pt-Medium.ttf);
}

@font-face {
    font-family: EBGaramond;
    src: url(fonts/EBGaramond-Regular.ttf);
}
body {
    margin: 0px;
}

/*table {
    width: 500px;
    border-collapse: collapse;
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    overflow: hidden;
}

th {
    padding: 0px;
}
*/
td img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*
tr:last-of-type {
    border-bottom: 3px solid orangered;
}

thead tr {
    color: #ffffff;
    text-align: center;
    height: 3em;
    background-color: orangered;
}*/
.tdObr{
    margin: 18px;
    width: 15vw;
    background-size:cover;
    background-repeat: none;
    background-position: 50% 70%;
    transform: scale(0.9);
}

h1 {
    font-family: NewsreaderBold;
}

h2 {
    margin: 20px 0px;
    font-family: NewsreaderBold;
    font-size: max(3vw, 28px);
    line-height: max(1.1em, 26px);
}

h3 {
    margin: 30px 0px 15px 0px;
    font-family: NewsreaderBold;
    color: #2b2b2b;
    font-size: max(2vw, 28px);
    line-height: 1em;
    font-weight: 600px;
}

p {
    font-family: EBGaramond;
    font-size: max(1.3vw, 22px);
}

p:first-of-type::first-letter {
    float: left;
    font-family: Georgia;
    font-size: max(3.5vw, 47px);
    line-height: max(2.9vw, 40px);
    padding-top: 8px;
    padding-right: 8px;
    padding-left: 7px;
}

.pozadi {
    position: relative;
    margin: 0px;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.pozadi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%) blur(5px);
    transform: scale(1.1);
}

.pozadi h1 {
    position: absolute;
    color: white;
    left: max(15px, 6vw);
    padding-right: max(15px, 5vw);
    bottom: 0.25em;
    font-size: min(9vw, 110px);
}

.obsah {
    margin: 0 auto;
    padding: 18px;
    max-width: 1000px;
}

.menu {
    padding-left: max(6px, calc(50% - 500px));
    background-color: orangered;
}

.menu li:not(:last-of-type) {
    margin-right: 30px;
}

.menu a {
    color: white;
    font-family: arial;
    transition: background-color, color 0.3s;
    font-size: max(1.1vw, 20px);
    text-decoration: line-behind rgb(234, 211, 4) 5px;
}

@media screen and (min-width: 1000px) {
    .menu li:hover a {
        height: 1.8em;
        border-bottom: solid 0.55em yellow;
        color: black;
    }
}

@media screen and (max-width: 1000px) {
    .pozadi {
        height: 50vw;
    }
}

.podtrhnuto {
    display: inline-block;
    line-height: 1px;
    border-bottom: solid 0.4em orangered;
}

.podtrhnutoGray {
    color: black;
}

.patka {
    position: relative;
    height: 300px;
    padding-top: 80px;
    padding-left: max(22px, calc(50% - 470px));
    background-color: orangered;
    color: rgb(167, 61, 22);
}

.patka h1 {
    position: absolute;
    font-family: NewsreaderMedium;
    font-weight: 900px;
    width: 50%;
    font-size: max(4.5vw, 35px);
}

.obsah img {
    position: relative;
    max-width: calc(100% - 10px);
    margin: 5px;
}

.obsah a {
    display: inline-block;
    color: black;
    font-family: EBGaramond;
    font-size: max(1.3vw, 22px);
    text-decoration: none;
    line-height: 3.2ex;
    border-bottom: solid 1px black;
}

.obsah a:hover {
    line-height: 0.5ex;
    border-bottom: solid 0.35em orangered;
}

.mediaContent {
    position: relative;
    width: calc(100% - 10px);
    min-height: min(50vw, 500px);
    margin: 5px;
}

@media screen and (max-width: 980px) {
    .menu a {
        font-size: 15px;
    }

    .patka {
        height: 200px;
    }
}