@font-face {
    font-family: NewsreaderBold;
    src: url(fonts/Newsreader-Bold.ttf);
}

@font-face {
    font-family: NewsreaderMedium;
    src: url(fonts/Newsreader_24pt-Medium.ttf);
}

@font-face {
    font-family: EBGaramond;
    src: url(fonts/EBGaramond-Regular.ttf);
}

body {
    margin: 0px;
}

table {
    width: 500px;
    border-collapse: collapse;
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    overflow: hidden;
}

th{
    padding: 0px;
}

th img {
    width: 250px;
    height: 300px;
    object-fit: cover;
}

tr:last-of-type {
    border-bottom: 3px solid orangered;
}

thead tr {
    color: #ffffff;
    text-align: center;
    height: 3em;
    background-color: orangered;
}

h1 {
    font-family: NewsreaderBold;
}

h2 {
    font-family: NewsreaderBold;
    font-size: 3vw;
    line-height: 1.1em;
}

h3 {
    font-family: NewsreaderMedium;
    color: #2b2b2b;
    font-size: 2vw;
    line-height: 1em;
}

p {
    font-family: EBGaramond;
    font-size: 1.3vw;
}

.pozadi {
    position: relative;
    margin: 0px;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.pozadi img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%) blur(5px);
    transform: scale(1.1);
}

.pozadi h1 {
    position: absolute;
    color: white;
    left: 80px;
    top: 20px;
    font-size: 5vw;
}

.obsah {
    margin: 0 auto;
    padding: 15px;
    max-width: 1000px;
}

.menu {
    height: 50px;
    padding-top: 10px;
    padding-left: max(20px, calc(50% - 500px));
    background-color: orangered;
}

.menu a {
    color: white;

    position: relative;
    top: 10px;
    margin-right: 40px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    font-family: arial;
    transition: background-color, color 0.3s;
}

.menu a:hover {
    background-color: yellow;
    color: orangered;
}

.patka {
    position: relative;
    height: 300px;
    padding-top: 80px;
    padding-left: max(15px, calc(50% - 500px));
    background-color: orangered;
    color: rgb(167, 61, 22);
}

.patka h1 {
    position: absolute;
    font-family: NewsreaderMedium;
    margin: 0px;
    width: 50%;
    font-size: 4.5vw;
}

@media screen and (max-width: 980px) {
    .menu a {
        font-size: 15px;
    }

    .patka {
        height: 200px;
    }
}

@media screen and (max-width: 780px) {
    .menu a {
        top: -5px;
        text-align: left;
        font-size: 23px;
        line-height: 1.1em;
        display: block;
        float: top;
        margin: 8px;
    }

    .menu {
        height: 120px;
    }
}